<html>
<head>
<title>SUBJECT</title>

<!--
DATALINE
LISTINGDATA
-->

</head>

<body bgcolor="#999999">

<a href="/edittext">RETURN</a><br>

<center><hr size=7 width=75%>
<h1>SUBJECT</h1> 

INITIALTEXT

</html> 
